.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  color: brand.0;

  padding: 2rem 12rem 2rem 12rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #13293d;
}

.yamato_logo {
  width: 20rem;
  cursor: pointer;
}
